.section{
    position: relative;
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#root{
    z-index:1;
}